
.DS_Store

transporter.xcodeproj/project.xcworkspace/contents.xcworkspacedata

transporter.xcodeproj/project.xcworkspace/xcuserdata/ljuba.xcuserdatad/UserInterfaceState.xcuserstate

transporter.xcodeproj/project.xcworkspace/xcuserdata/ljuba.xcuserdatad/WorkspaceSettings.xcsettings

transporter.xcodeproj/project.xcworkspace/xcuserdata/ljuba.xcuserdatad/WorkspaceState.xcuserstate

transporter.xcodeproj/xcuserdata/ljuba.xcuserdatad/xcbreakpoints/Breakpoints.xcbkptlist

transporter.xcodeproj/xcuserdata/ljuba.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

transporter.xcodeproj/xcuserdata/ljuba.xcuserdatad/xcschemes/Test.xcscheme

transporter.xcodeproj/xcuserdata/ljuba.xcuserdatad/xcschemes/transporter.xcscheme

transporter.xcodeproj/xcuserdata/ljuba.xcuserdatad/xcschemes/xcschememanagement.plist
